<ion-content class="app-bg">
  <div class="menu-container">
    
    <button class="menu-card full-width" routerLink="/dashboard">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <span>Dashboard<br>da Dengue</span>
    </button>
    <div class="grid-2-col">
      
      <button class="menu-card" routerLink="/denunciar">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        <span>Denunciar<br>Foco</span>
      </button>

      <button class="menu-card" routerLink="/consultar-denuncia">
        <ion-icon name="document-text-outline"></ion-icon>
        <span>Consultar<br>Denúncia</span>
      </button>

      <button class="menu-card" routerLink="/postos-saude">
        <ion-icon name="medkit-outline"></ion-icon>
        <span>Postos de<br>Saúde</span>
      </button>

      <button class="menu-card" routerLink="/mapa">
        <ion-icon name="map-outline"></ion-icon>
        <span>Mapa de<br>Focos</span>
      </button>

      <button class="menu-card" routerLink="/noticias">
        <ion-icon name="newspaper-outline"></ion-icon>
        <span>Notícias</span>
      </button>

      <button class="menu-card" routerLink="/suporte">
        <ion-icon name="help-circle-outline"></ion-icon>
        <span>Suporte</span>
      </button>

      <!-- Botão do Agente ajustado para manter o mesmo design do seu grid -->
      <button class="menu-card" *ngIf="isAgenteLogado" (click)="irParaGerenciamento()">
        <ion-icon name="list-outline"></ion-icon>
        <span>Gerenciar<br>Denúncias</span>
      </button>
      
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border transparent-footer">
  <div class="floating-nav">
    <button class="nav-btn active" routerLink="/home">
      <ion-icon name="home-outline"></ion-icon>
    </button>
    <button class="nav-btn">
      <ion-icon name="menu-outline"></ion-icon>
    </button>
    <button class="nav-btn" routerLink="/chatbot">
      <ion-icon name="headset-outline"></ion-icon>
    </button>
    
    <button class="nav-btn" (click)="abrirMenuPerfil()">
      <ion-icon name="person-outline"></ion-icon>
    </button>
  </div>
</ion-footer>