<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start"><ion-back-button defaultHref="/home"></ion-back-button></ion-buttons>
    <ion-title>Nova Denúncia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center ion-margin-bottom">
    <img [src]="fotoUrl" style="border-radius: 10px; max-height: 150px;" alt="Foto do foco">
    <ion-button (click)="tirarFoto()">Tirar Foto</ion-button>
  </div>

  <ion-item class="ion-margin-bottom">
    <ion-textarea 
      label="Endereço ou Ponto de Referência" 
      labelPlacement="floating" 
      placeholder="Ex: Terreno baldio ao lado do número 150, Centro - Palhoça" 
      [(ngModel)]="endereco"
      rows="3">
    </ion-textarea>
  </ion-item>

  <ion-card color="light" class="ion-no-margin ion-margin-bottom">
    <ion-card-content>
      <ion-icon name="location" color="danger"></ion-icon>
      <strong> Localização via GPS:</strong> Coordenadas capturadas automaticamente.
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" color="danger" (click)="enviarDenuncia()">
    Enviar Denúncia Real
  </ion-button>
</ion-content>